body {
    font-family: 'Roboto Mono',monospace;
    min-height: 854px;
    background-color: #0a053f;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
  
.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
}
  
.page-title {
    color: #FFFFFF;
    margin: 0 0 5px;
}  
  
.page-subtitle {
    color: #ffffff;
    margin: 0px;
}
  
.page-logo {
   width: 200px;
}
  
.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right:10px;
}

.mutant{
    max-width: 35%;
    margin: 10px auto 30px;
    height: auto;
    display: block;
}

.descricao {
    color: white;
}

a {
    text-decoration: none;
}


